@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 263 7% 96%;
    --foreground: 263 25% 50%;
    --muted: 263 15% 97%;
    --muted-foreground: 263 20% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 263 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 263 25% 20%;
    --border: 263 15% 90%;
    --input: 263 15% 90%;
    --primary: 263 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 15% 97%;
    --secondary-foreground: 263 25% 50%;
    --accent: 263 50% 90%;
    --accent-foreground: 263 25% 50%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 263 60% 50%;
    --radius: 0.5rem;
    --sidebar-background: 263 15% 99%;
    --sidebar-foreground: 263 25% 50%;
    --sidebar-primary: 263 60% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 263 50% 90%;
    --sidebar-accent-foreground: 263 25% 50%;
    --sidebar-border: 263 15% 90%;
    --sidebar-ring: 263 60% 50%;
  }
  .dark {
    --background: 263 20% 16%;
    --foreground: 263 15% 94%;
    --muted: 263 15% 25%;
    --muted-foreground: 263 10% 85%;
    --popover: 263 20% 16%;
    --popover-foreground: 263 15% 98%;
    --card: 263 20% 16%;
    --card-foreground: 263 15% 98%;
    --border: 263 15% 25%;
    --input: 263 15% 25%;
    --primary: 263 65% 85%;
    --primary-foreground: 263 60% 50%;
    --secondary: 263 15% 25%;
    --secondary-foreground: 263 15% 98%;
    --accent: 263 25% 70%;
    --accent-foreground: 263 15% 98%;
    --destructive: 0 70% 55%;
    --destructive-foreground: 263 15% 98%;
    --ring: 263 60% 50%;
    --sidebar-background: 263 20% 18%;
    --sidebar-foreground: 263 15% 90%;
    --sidebar-primary: 263 60% 50%;
    --sidebar-primary-foreground: 263 15% 98%;
    --sidebar-accent: 263 20% 30%;
    --sidebar-accent-foreground: 263 15% 98%;
    --sidebar-border: 263 20% 30%;
    --sidebar-ring: 263 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans tracking-tight antialiased;
  }
}

@layer tooltip {
  div.tooltip {
    @apply absolute p-4 bg-white text-black border border-gray-300 rounded-lg pointer-events-none text-sm z-50 flex flex-col text-left space-y-3 max-w-xs  transition-all duration-200 opacity-0 scale-95 transform hover:opacity-100 hover:scale-100 shadow-xl;
  }
  div.tooltip h3 {
    @apply font-semibold text-lg text-gray-700 dark:text-gray-300 tracking-wide;
  }
  div.tooltip p {
    @apply text-xs text-gray-700 dark:text-stone-300;
  }

  div.tooltip .tags {
    @apply text-xs text-gray-500 italic flex gap-2;
  }
  div.tooltip .tags span {
    @apply p-2 bg-gray-200 rounded-full;
  }
  div.tooltip .new {
    @apply bg-green-500 max-w-fit text-white px-2 py-1 rounded-full text-xs font-medium;
  }
  div.tooltip .moved.moved-up {
    @apply rounded-full max-w-fit text-green-700 font-bold;
  }
  div.tooltip .moved.moved-down {
    @apply rounded-full max-w-fit text-red-700 font-bold;
  }
}
