@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/cascadia/CascadiaCode.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Virgil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/virgil/Virgil.woff2') format('woff2');
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-200-normal.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('/fonts/assistant/assistant-latin-800-normal.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
